<ion-header>
  <ion-toolbar>	
    <ion-icon id="back" name="arrow-back-outline"></ion-icon>
      <ion-button id="contactbtn">
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    <ion-title id="title">Accra - Obasanjo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="slots" *ngFor="let flight of flights; index as i">
    <ion-img id="takeoff" src="../../assets/img/takeoff.png"></ion-img>
    <h3 id="time">{{flight.date}}</h3>
    <h1 id="model">{{flight.model}}</h1>
    <h2 id="dollar">{{flight.price}}</h2>
    <ion-img id="logo" src="../../assets/img/logo.jpg"></ion-img>
    <ion-img id="landing" src="../../assets/img/landing.png"></ion-img>
  </div>

</ion-content>
