<ion-content>
  <div>
    <img src="../../assets/img/logo.jpg">
   <div>
  
  <form action="" method="post">
    <label id="username">Username/Email</label>
    <input id="name" type="text" placeholder="Enter Username">
    <label id="passlabel">Password</label>
    <input id="pass" type="password" placeholder="***********">
    <ion-button id="btn" routerLink='/login'>LOG IN</ion-button>
    <p id="link">Don't already have an account: <strong routerLink='/signup'>Sign up!</strong></p>
  </form>