<ion-header>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"

  />
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
  </ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h1 id="title4">TICKET ID: {{items['ticketID']}}</h1>
        </div>
      </ion-col>
      <ion-col>
        <div>PRICE: {{items['Price']}}</div>
      </ion-col>
      <ion-col>
        <div>CATEGORY: {{items['category']}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h1 id="title4">TICKET ID: {{items['ticketID']}}</h1>
        </div>
      </ion-col>
      <ion-col>
        <div>PRICE: {{items['Price']}}</div>
      </ion-col>
      <ion-col>
        <div>CATEGORY: {{items['category']}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h1>CLASS: {{items['class']}}</h1>
        </div>
      </ion-col>
      <ion-col>
        <div>DATE: {{items['date']}}</div>
      </ion-col>
      <ion-col>
        <div>EMAIL: {{items['email']}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h1>FLIGHT NO: {{items['flightNo']}}</h1>
        </div>
      </ion-col>
      <ion-col>
        <div> FROM: {{items['flightStart']}}</div>
      </ion-col>
      <ion-col>
        <div>FLIGHT: {{items['flightname']}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <h1>TERMINAL: {{items['terminal']}}</h1>
        </div>
      </ion-col>
      <ion-col>
        <div>NAME: {{items['username']}}</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button id="btn">SEND TO EMAIL</ion-button>

</ion-content>
