* {
	position: absolute;
	font-family: roboto;
	font-style: normal;
	font-size: 18px;
	line-height:21px;
}

#log {
	position: absolute;
	width: auto;
	height: 171px;
	left: auto;
	top: 0%;
}

.seg1 {
	position: absolute;
	width: 304px;
	height: 104px;
	left: 53px;
	top:183px;
}

#from {
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 12px;
	top: 75px;
}

#to {
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 240px;
	top: 75px;
}

#passtitle {
	position:absolute;
	width: 184px;
	height: 21px;
	left: 70px;
	font-weight: bold;
	font-size: 18px;
	text-align:center;
}

#takeoff {
	position: absolute;
	width: 64px;
	height: 64px;
	left:1px;
	top:30px;
}

#landing {
	position: absolute;
	width: 52px;
	height: 58px;
	left:250px;
	top:30px;
}

.seg2{
	position: absolute;
	width: 349px;
	height: 116px;
	left: 32px;
	top:304px;

	background: rgba(196, 196, 196, 0.16);
	border-radius: 5%;
}

.title2 {
	font-weight: bold;
	color: #C4C4C4
}

.subtitle2 {
	font-weight: bold;
	color: gray;
}

#one {
	position: absolute;
	width: 79px;
	height: 21px;
	left: 15px;
	top:1px;
}

#two {
	position: absolute;
	width: 65px;
	height: 21px;
	left: 15px;
	top:20px;
}

#three {
	position: absolute;
	width: 45px;
	height: 21px;
	left: 136px;
	top:1px;
}

#four {
	position: absolute;
	width: 87px;
	height: 21px;
	left: 136px;
	top:20px;
}

#five {
	position: absolute;
	width: 72px;
	height: 21px;
	left: 267px;
	top:1px;
}

#six {
	position: absolute;
	width: auto;
	height: auto;
	left: 267px;
	top:20px;
}

#seven {
	position: absolute;
	width: 38px;
	height: 21px;
	left: 15px;
	top:51px;
}

#eight {
	position: absolute;
	width: auto;
	height: auto;
	left: 15px;
	top:70px;
}

#nine {
	position: absolute;
	width: 42px;
	height: 21px;
	left: 136px;
	top:51px;
}

#ten {
	position: absolute;
	width: 65px;
	height: 21px;
	left: 136px;
	top:70px;
}

#eleven {
	position: absolute;
	width: auto;
	height: auto;
	left: 271px;
	top:51px;
}

#twelve {
	position: absolute;
	width: auto;
	height: auto;
	left: 271px;
	top:70px;	
}

.seg3 {
	position: absolute;
	width: 352px;
	height: 146px;
	left:32px;
	top:442px;

	background: rgba(196, 196, 196, 0.16);
	border-radius: 5%;
}

.seg4 {
	position: absolute;
	width: 349px;
	height: 116px;
	left: 32px;
	top: 608px;

	background: rgba(196, 196, 196, 0.16);
	border-radius: 5%;
}

ion-button {
	position: absolute;
	width: 337px;
	height: 56px;
	left: 36px;
	top: 742px;

}

#title3 {
	position: absolute;
	width: auto;
	height: 21px;
	left: 32px;
	top:0px;
}

#contimg {
	width: 41px;
	height: 43px;
	left: 32px;
	top: 45px;
}

#name {
	width: auto;
	height: auto;
	left: 91px;
	top: 28px;
}

#cat1 {
	width: auto;
	height: auto;
	left: 91px;
	top: 55px;
}

#contimg2 {
	width: 41px;
	height: 43px;
	left: 32px;
	top: 105px;
}

#name2 {
	width: auto;
	height: auto;
	left: 91px;
	top: 85px;
}

#cat2 {
	width: auto;
	height: auto;
	left: 91px;
	top: 115px;
}

#title4 {
	width: auto;
	height: auto;
	left: 90px;
	top:2px;
}

#qrcode {
	width: 88px;
	height: 64px;
	left: 22px;
	top: 50px;
}

#barcode {
	width: 64px;
	height: 64px;
	left: 260px;
	top: 50px
}
