
<ion-title>ticket</ion-title>
<ion-img id="logo" src="../../assets/img/logo.jpg"></ion-img>

<ion-content>
	<div class="seg1">
		<h1 id="passtitle">PASSENGER TICKET</h1>
		<ion-img id="takeoff" src="../../assets/img/log.jpg"></ion-img>
		<ion-img id="landing" src="../../assets/img/log.jpg"></ion-img>
	</div>
	<div class="seg2">
		<h3 id="one" class="title2">Flight No.</h3>
		<h1 id="two" class="subtitle2">CX3000</h1>
		<h3 id="three" class="title2">Class</h3>
		<h1 id="four" class="subtitle2">CX3000</h1>
		<h3 id="five" class="title2">Terminal</h3>
		<h1 id="six" class="subtitle2">CX3000</h1>
		<h3 id="seven" class="title2">Date</h3>
		<h1 id="eight" class="subtitle2">CX3000</h1>
		<h3 id="nine" class="title2">Time</h3>
		<h1 id="ten" class="subtitle2">CX3000</h1>
		<h3 id="eleven" class="title2">Seat No.</h3>
		<h1 id="twelve" class="subtitle2">CX3000</h1>
	</div>
	<div class="seg3">
		<h1 id="title3">Passengers</h1>
		<ion-img id="contimg" src="../../assets/img/log.jpg"></ion-img>
		<h2 id="name">Amanda Bissaka</h2>
		<h3 id="cat1">adult</h3>
		
		<ion-img id="contimg2" src="../../assets/img/log.jpg"></ion-img>
		<h2 id="name2">Mungeni Richard</h2>
		<h3 id="cat2">adult</h3>
	</div>
	<div class="seg4">
		<h1 id="title4">FOR OFFICIAL USE ONLY</h1>
		<ion-img id="qrcode" src="../../assets/img/qrcode.png"></ion-img>
		<ion-img id="barcode" src="../../assets/img/barcode.png"></ion-img>
	</div>
	<ion-button id="btn">SEND TO EMAIL2</ion-button>
</ion-content>
