<ion-content>
  <div>
    <img src="../../assets/img/logo.jpg">
   <div>
  <form method="post">
    <div>
      <label id="name">Name</label>
      <input id="namein" type="text" placeholder="enter name here">
    </div>
    <div>
      <label id="age">Age</label>
      <input id="agein" type="number" placeholder="00">
    </div>
    <div>
      <label id="passp">Passport No.</label>
      <input id="passpin" type="text" placeholder="Passport Number">
    </div>
    <div>
      <label id="email">Email</label>
      <input id="emailin" type="email" placeholder="someone@email.com">
    </div>
    <div>
      <label id="pass">Password</label>
      <input id="passin" type="password" placeholder="************">
    </div>
    <div>
      <ion-button>SIGN UP</ion-button>
    </div>
    <div>
      <p id="link">Already have an account: <strong routerLink='/login'>Log In!</strong></p>
    </div>
  </form>
