* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    position: absolute;
    width: 100%;
    height: 45%;
    left: 0px;
    top: 5%;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 3%;
    left: 6%;
}

input {
    position: absolute;
    width: 64%;
    height: 6%;
    left: 27%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 6%;
    border-style: none;
    padding-left: 3%;
}

ion-button {
    position: absolute;
    width: 83%;
    height: 6%;
    left: 10%;
    top: 87%;
    border-radius: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 4%;
}

#link {
    position: absolute;
    width: 80%;
    height: 3%;
    left: 15%;
    top: 94%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 3%;
}

#name {
    position: absolute;
    width: 25%;
    height: 3%;
    left: 5%;
    top: 42.9%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 3%;
}

#age {
    position: absolute;
    width: 25%;
    height: 3%;
    left: 5%;
    top: 52.1%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 3%;
}

#passp {
    position: absolute;
    width: 25%;
    height: 5%;
    left: 5%;
    top: 60.5%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 3%;
}

#email {
    position: absolute;
    width: 25%;
    height: 3%;
    left: 5%;
    top: 71%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 3%;
}

#pass {
    position: absolute;
    width: 25%;
    height: 3%;
    left: 5%;
    top: 80.5%;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 3%;
}

#namein {
    position: absolute;
    width: 65%;
    height: 6%;
    left: 27%;
    top: 40%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 3%;
}

#agein {
    position: absolute;
    width: 65%;
    height: 6%;
    left: 27%;
    top: 50%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 3%;
}

#passpin{
    position: absolute;
    width: 65%;
    height: 6%;
    left: 27%;
    top: 60%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 3%;
}

#emailin {
    position: absolute;
    width: 65%;
    height: 6%;
    left: 27%;
    top:70%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 3%;
}

#passin {
    position: absolute;
    width: 65%;
    height: 6%;
    left: 27%;
    top: 79%;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 3%;
}