* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    position: absolute;
    width: 600px;
    height: 400px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    left: 23px;
}

input {
    position: absolute;
    width: 263px;
    height: 45px;
    left: 112px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
}

ion-button {
    position: absolute;
    width: 340px;
    height: 45px;
    left: 40px;
    top: 729px;
    border-radius: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

#link {
    position: absolute;
    width: 255px;
    height: 21px;
    left: 95px;
    top: 770px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

#name {
    position: absolute;
    width: px;
    height: 21px;
    left: 23px;
    top: 353px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

#age {
    position: absolute;
    width: 46px;
    height: 21px;
    left: 23px;
    top: 429px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

#passp {
    position: absolute;
    width: 89px;
    height: 42px;
    left: 23px;
    top: 498px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

#email {
    position: absolute;
    width: 46px;
    height: 21px;
    left: 23px;
    top: 588px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

#pass {
    position: absolute;
    width: 80px;
    height: 21px;
    left: 23px;
    top: 663px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

#namein {
    position: absolute;
    width: 263px;
    height: 45px;
    left: 112px;
    top: 341px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
}

#agein {
    position: absolute;
    width: 268px;
    height: 45px;
    left: 112px;
    top: 417px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
}

#passpin{
    position: absolute;
    width: 268px;
    height: 45px;
    left: 112px;
    top: 495px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
}

#emailin {
    position: absolute;
    width: 268px;
    height: 45px;
    left: 112px;
    top: 573px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
}

#passin {
    position: absolute;
    width: 268px;
    height: 45px;
    left: 112px;
    top: 651px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
}